<div style='line-height: 2; text-align: center; padding: 15px; border-bottom: 1px solid #ccc;display: flex;justify-content: space-between;align-items: center'>
    <a href="#" target="_blank" style='display:inline-block; text-decoration: none;'>
        <strong style="font-size: 20px; color:#0a429d; text-align: center">Wekings Bot!</strong>
    </a>
</div>
